$primary-color: #FF82D3;
$secondary-color: #dadada;
$font-color: #565656;

body,
html {
	margin: 0;
	padding: 0;
}

body {
	background: $secondary-color;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@import '_utilities';
@import '_typography';
@import '_logo-container';
@import '_visual-button';
@import '_skills-list';
@import '_description';
@import '_banner-title';
@import '_footer';