body {
	background: #E3E3E3;
	padding: 0 16px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@import '_layout';
@import '_typography';
@import '_main-contact';
@import '_column'; 
@import '_main-title';