.main-contact {
	overflow: hidden;
	width: 100%;
	max-width: 760px;
	margin: 0 auto;
	.main-contact-email,
	.main-contact-twitter {
		list-style: none;
		display: block;
		float: right;
		margin-right: 1rem;
		padding: .5rem 0;
		font-size: 2rem;
		font-weight: 200;
		color: rgba(0,0,0,.6);

		.fa {
			color: #777;
		}

	}
	.main-contact-email {
		border-right: solid 1px #fff;
		float: right;
		.fa {
			font-size: 1.5rem;
			margin-top: -2px;
		}

		&:hover {
			.fa {
				color: red;
				transition: color .25s linear;
			}
		}

	}
	.main-contact-at {
		color: rgba(0,0,0,.4);
		font-weight: 400;
	}
	.main-contact-twitter {
		border-left: solid 1px #fff;
		margin: 0;

		&:hover {
			.fa {
				color: #55acee;
				transition: color .25s linear;
			}
		}
	}
}