.main-contact {
	margin: 0 0 16px 0;
	@media (min-device-width: 800px) {
		max-width: 470px;
	}
	overflow: hidden;
	width: 100%;
	.contact {
		border: 1px solid #969696;
		border-radius: 1px;
		display: block;
		font-size: 23px;
		list-style: none;
		margin-bottom: 16px;
		padding: 10px 16px;
		text-align: center;
		&:hover,
		&:focus {
			background: #333;
			cursor: pointer;
			transition: background linear .15s;
			color: #e3e3e3;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .65);
		}
	}
}