* {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: $font-color;
}

a,
a:hover {
	color: $font-color;
	text-decoration: none;
}

// Titles
h3 {
	border-bottom: 1px solid #969696;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 4px;
}