// @media (max-width: 754px) {
//   html { font-size: 16px; }
// }
// @media (max-width: 400px) {
//   html { font-size: 13px; }
// }

// font-family: 'Work Sans', sans-serif;
// font-family: 'Bitter', serif;

* {
	font-family: 'Work Sans', sans-serif;
	font-weight:  200;
	color: #333;
}

a,
a:hover {
	color: #333;
	text-decoration: none;
}

// Titles
h3	{
	border-bottom: 1px solid #969696;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 4px;
}