.work {
	width: 100%;
	max-width: 760px;
	margin: 0 auto;
}

.work-entry {
	width: 100%;
	max-width: 760px;
	border: solid 1rem #777;
	margin-bottom: 2rem;
	img {
		border-bottom: solid 1rem #777;
		width: 100%;
		height: auto;
	}

}